@import url(https://www.flaticon.com/search?word=search);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./cherry.jpg);
    background-position: 15%;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(150deg, white, pink, rgb(236, 215, 236), white);
    border-radius: 30px;
}

.container {
    width:500px;
    height: 600px;
    margin-top: 60px; 
    margin-bottom: 10px;
    border:2px solid white;
    box-sizing: border-box;
    box-shadow: 0px 9px 10px white, inset 0px 3px 5px white, inset 0px 3px 3px rgb(244, 166, 205), inset 0px 4px 10px rgb(236, 236, 144);

    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Main */
.main ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.main img:hover {
    transform: scale(1.1);
    background-color: rgb(220, 148, 165);
    border-radius: 50%;
    cursor: pointer;
}

.main h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: pink;
    text-shadow: 3px 5px 5px rgb(145, 11, 60);
    transition: all .5s ease;
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        color: pink;
    }

    90% {
        color: rgb(255, 255, 255);
    }
}

.main h1::before {
    content: url(https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif);
    position: absolute;
    transform: translate(-300px,50px) scale(.6);
}

.main h1::after {
    content: url(https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif);
    position: absolute;
    transform: translate(-100px,20px) scale(.6)
}

.main img,
.main2 img {
    width: 50px;
    align-items: center;
}

/* disc */
.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.main2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2 img {
    width: 200px;
    height:200px;
    margin: 15px;
    animation: disc 3.5s linear infinite;
}

@keyframes disc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main2 h2 {
    font-size: 1.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: white;
    text-shadow: 3px 3px 10px rgb(145, 11, 60);
}

.main2 h3 {
    margin: 10px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/* loading */
div .load {
    width: 390px;
    height: 55.5px;
    border: 1px double white;
    border-radius: 30px;
    box-shadow: 2px 3px 10px rgb(248, 255, 200);

    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes load {
    0% {
        width: 1%;
        background-color: rgb(215, 240, 238);
    }

    30% {
        width: 20%;
        background-color: white;
    }

    60% {
        width: 65%;
        background-color: rgb(255, 255, 255)
    }

    70% {
        width: 75%;
        background-color: plum;
    }

    80% {
        width: 85%;
        background-color: rgb(228, 174, 186)
    }

    100% {
        width: 100%;
        background-color: rgb(145, 11, 60);
    }
}

div .load::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    /* box-shadow: 2px 3px 10px rgb(251, 255, 176); */
    background-color: rgb(240, 240, 190);
    position: absolute;
    left: 0;
    animation: load 3s infinite;
}

.load-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main3 */
.main3 {
    box-shadow: 0px 3px 5px rgb(236, 236, 144), inset 0px 3px 3px rgb(255, 255, 255), inset 0px 4px 5px rgb(244, 166, 205);
    margin-top:10px;
}

.main3 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main3 ul li {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -3px 5px 10px rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.main3 ul li:hover {
    box-shadow: -1px 10px 10px rgba(249, 106, 130, 0.308);
}

#previous:hover,
#next:hover {
    transform: scale(1.1);
}

.main3 img {
    width: 100%;
}


/* standard size in mobile and tablet */

@media (max-width:450px){
    *{
        transform: scale(.9);
    }
    .container{
        height:auto;
        margin: 0;
    }
    .main2{
        height:auto
    }
    .load{
        margin-bottom: 0;
    }
    .load-container{
        margin:0;
    }
    .main2{
        margin:0;
    }
    .main3 ul,.main3 ul li{
       margin:0;
    }

}